          *{
			box-sizing: border-box;
			color:solid black;
			padding:0px;
			border:0px;
		}
		

	body{
	background-color:#FFC0CB;
}
div{
	border:solid black;
	background-color:#FFC0CB;
	height:300px;
	width:505px;
	float:left;
}

h1{
	text-align:center;
	color:solid black; 
	width:100%; 
}

h2{
	float:right;
	 border:1px solid black;
	position:relative;
	position-right:0px;
	position:relative;
    margin-bottom:30px;

	text-align:center;
	margin-right:10px;
	background-color:yellow;
}

p{
	width:600px;
	height:200px;
	width:90%;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
}

#p1 { 
	background-color:#F08080;
}

#p2 {
	background-color:#9370DB;
}

#p3 {
	background-color:#FF69B4;
}
.row{
		width:100%;
	}
@media(min-width:992px){
	div{
		width:30%;
	}
}

@media(min-width:768px) and (max-width: 991px){
	
	div{
		width:50%;
	}
	
	#hy{
		width:100%;
	}
}

@media(max-width: 767px){
	
	#p1{
		width:100%;
	}
	#p2{
		width:100%;
	}
	#p3{
		width:100%;
	}
}

	
